
/*  stripping unintentional defualt values*/
body {
  margin: 0px;
  padding: 0px;
}

/*setting universal text values  */

.container {
  font-family:"Helvetica";
  font-size:23px;
  color:seashell;
  opacity: 0.9;
  background-color: black;
}

/*  navigation bar*/

/* navigation bar container settings  */


.nav_bar_container {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  position:fixed;
  z-index: 10;
  width: 100%;
  height:69px;
  background-color:black;
  border-bottom:1px solid seashell;
  margin-top:-1px;
  margin-left:0;
}

/* navigation bar logo style  */

.logo {
  flex-grow:1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  opacity:0.9;
}

/* navigation bar links */

.nav_bar {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  padding-right: 5px;
}

.nav_bar_item {
  font-family:"Helvetica";
  font-size:23px;
  color:seashell;
  opacity: 0.9;
  margin: 0px 5px;
  text-align: center;
}

/* mission section */

/* setting container values */

.main_container {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  background-color: black;
}

.mission {
  background-image:url('../img/img-mission-background.jpg');
  height: 700px;
  width:1200px;
  display:flex;
  flex direction:row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.mission_text {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  background-color:black;
  width:inherit;
  color:seashell;
  text-align:center;
}

.mission_text h4, .mission_text h2 {
  margin:0;
  padding:10px;
}


/*  Tea of the day section*/

/* Tea of the day -title  */

.totm {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  width:1000px;
}

.totm_text {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.totm_text h4, .totm_text h2 {
  margin:0;
  padding:10px;
}

/* Tea of the day -first row  */

.totm_row {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:100%;
}

.totm_row_item img{
  height:200px;
  width:300px;
  margin: 10px 20px;
}

.totm_row_item {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.totm_row_item h4 {
  margin:0px;
  padding:0px;
}

.totm_row_two {
  margin-top:10px;
}
